@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.home {
  font-family: 'JetBrains Mono', monospace;
  position: relative;
  background-color: #fdf5e6; /* Assurez-vous que cette couleur de fond est appliquée */
}

.UpContainer {
  margin: 75px 0 0 35%;
  width: 32%;
  position: relative; /* Ajoutez une position pour que le z-index fonctionne */
}

.home h1 {
  font-size: 40px;
  color: #273039;
  text-align: center;
  margin-bottom: 0; /* Réinitialisez les marges par défaut */
  padding-bottom: 10px; /* Ajoutez du padding pour espacer du bord */
}
.home h2 {
  color: #273039;
  text-align: center;
  margin: 0;
  margin-right: 20px;;
  padding-top: 10px;
  min-height: 3em; /* Ajustez la hauteur pour correspondre à deux lignes de texte */
  display: block; /* Assure que le h2 prend toute la largeur disponible */
  white-space: normal; /* Permet les retours à la ligne */
  word-break: break-word; /* Gère les retours à la ligne sur les mots longs */
}


.arbre {
  position: absolute;
  width: 37%;
  top: -77px; /* Enlever la marge en haut */
  right: 0; /* Enlever la marge à droite */
  z-index: 4; /* Placez l'image en dessous des autres éléments */
}

.ellipseContainer {
    position: relative;
    z-index: 1;
    margin: -170px 0 0 0; /* Déplacez l'ellipse vers le haut */
    display: flex;
    justify-content: center;
  }
  
.ellipse {
    margin-right: 61%;
    width: 32%;
    display: block;
  }  

.avatar-homepage {
  position: absolute;
  z-index: 3; /* Assurez-vous que l'image avatar-homepage est au-dessus de l'ellipse */
  top: 45%; /* Ajustez cette valeur pour remonter l'image dans l'ellipse */
  left: 19%; /* Ajustez cette valeur pour centrer horizontalement */
  transform: translate(-50%, -50%); /* Centrez l'image dans l'ellipse */
  width: 30%; /* Ajustez la taille de l'avatar selon vos besoins */
  height: auto; /* Maintenez les proportions de l'image */
  box-shadow: (0 0 20px rgba(255, 255, 255, 0.7))
}

/* Effet de halo coloré */
.avatar-homepage {
  filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.7));
}


.searchAndButtonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:5;
    margin-top: 50px;
  }
  
  .searchBar {
    background-color: white;
    display: flex;
    align-items: center;
    border: solid 1px;
    border-color: rgb(185, 177, 166);
    border-radius: 20px;
    padding-left: 20px;
    margin-right: 15px; /* Espace entre la barre de recherche et le bouton */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .searchBar input {
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    outline: none;
    font-family: 'JetBrains Mono', monospace;
  }

  .arrowRight {
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    color: #da84a4;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
  }
  
  .startQuizButton {
    min-width: 155px;
    padding: 10px 20px;
    background-color: #da84a4;
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'JetBrains Mono', monospace;
  }
  
  .startQuizButton:hover {
    background-color:#e594a4;
    color: #fff;
  }
  