/* Quiz.module.css */
body {
    background-color: #fdf5e6;
  }
  
  .backgroundImage {
    background-image: url('../assets/branche.png'); 
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-size: contain; /* Redimensionne l'image pour qu'elle soit entièrement visible sans être rognée */
    background-position: right center; /* Place l'image à droite et au centre verticalement */
    position: absolute; /* Positionne l'image de manière absolue */
    top: 15%; /* Ajustez la distance par rapport au haut de la page */
    right: 0; /* Collez l'image au bord droit */
    width: 50%; /* Largeur du conteneur */
    height: 50%; /* Hauteur du conteneur */
    z-index: 1; /* Assurez-vous que l'image est derrière les autres éléments */
}
