/* Support.module.css */
.supportPage {
    padding: 40px;
    background-color: #fdf5e6;
    font-family: 'JetBrains Mono', monospace;
    min-height: 100vh; /* Pour s'assurer que la page occupe tout l'écran */
  }
  
  .supportPage h1 {
    text-align: left;
    color: #3E4C59;
  }
  
  p {
    padding: 20px;
    text-align: left;
    margin-bottom: 60px;
  }
  