.carouselContainer {
  overflow: hidden;
  position: relative;
  z-index: 10;
  max-height: 90px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -86px;
  margin-bottom: 60px;
  padding: 16px;
  background-color: rgba(252, 248, 244, 0.8);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.carouselTrack {
  margin-left: 40px;
  display: flex;
  gap: 45px;
}

.carouselItem:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carouselTrack {
  animation: scroll 25s linear infinite;
}
