/* src/components/Board.module.css */
.boardContainer {
  padding: 20px;
  background-color: #f7f2ee;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scoreSection {
  margin-top: 20px;
  background-color: #fbcdd1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scoreSection h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.scoreSection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.scoreSection ul li {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #3E4C59;
}
