.boardContainer {
  padding: 20px;
  background-color: #fbcdd1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  margin: 10% 20%;
  overflow-x: auto; /* Ajouté pour permettre le défilement horizontal si nécessaire */
}

.scoreSection {
  margin: 20px;
  background-color: #f7f2ee;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scoreSection h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3E4C59;
  text-align: center; /* Centre le titre */
}

.tableContainer {
  width: 100%;
  border-collapse: collapse; /* Enlève les espaces entre les bordures des cellules */
  margin-top: 10px;
}

.tableHeader {
  background-color: #e5e5e5;
  color: #3E4C59;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

.tableRow {
  border-bottom: 1px solid #ccc;
}

.tableRow:nth-child(even) {
  background-color: #f9f9f9; /* Couleur d'arrière-plan alternée pour les lignes */
}

.tableRow:hover {
  background-color: #f2f2f2; /* Couleur de survol */
}

.tableCell {
  padding: 10px;
  color: #3E4C59;
  text-align: left;
}

.noResults {
  text-align: center;
  font-style: italic;
  color: #888;
}
