@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.footer {
  background-color: #50708A;
  color: white;
  padding: 20px 0;
  position: relative; /* Nécessaire pour positionner l'image du livre de manière absolue */
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

/* Conteneur principal du footer */
.container {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  align-items: flex-start; /* Aligne tous les éléments en haut du conteneur */
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px; /* Ajoute un espace en haut pour éviter que les éléments soient trop proches du bord supérieur */
  position: relative; /* Assure que les éléments restent dans leur position relative */
}

/* Image du livre */
.livre {
  position: absolute; /* Positionne l'image de manière absolue par rapport au footer */
  left: 0px; /* Ajuste la position horizontale de l'image du livre */
  max-width: 145px;
  margin-top: 50px;
  z-index: 1; /* Place l'image en dessous des autres éléments pour qu'elle ne les recouvre pas */
}

/* Conteneur du logo */
.logoContainer {
  flex: 0 0 auto; /* Empêche le logo de s'étirer */
  margin-right: 20%; /* Espace entre le logo et les colonnes */
}

.logo {
  height: 120px; /* Ajuste la taille du logo selon vos besoins */
  border-radius: 50%;
  margin-left: 220px;
}

.logo:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.column2, .column1 {
  margin: 30px 90px 90px 0;
}

.column1 ul, .column2 ul {
  list-style-type: none;
  padding: 0;
}

.column1 li, .column2 li {
  margin-bottom: 8px;
}

.horizontalLine {
  width: 50%; /* Ajuste la largeur pour qu'elle s'adapte au contenu */
  border: 0;
  height: 1px;
  background: white;
}

.legalMentions {
  text-align: center;
  font-size: 15px;
  margin: 60px 0 0px 45%;
}

.legalMentions a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease; /* Ajoute une transition pour un effet lisse */
}

.legalMentions a:hover {
  color: #ffcc00; /* Change la couleur du texte au survol */
  transform: scale(1.05); /* Agrandit légèrement le lien au survol */
  text-decoration: underline; /* Ajoute une décoration soulignée */
}

li:hover {
  cursor: pointer;
  color: #ffcc00; /* Change la couleur du texte au survol */
  transform: scale(1.05); /* Agrandit légèrement le lien au survol */
  text-decoration: underline; /* Ajoute une décoration soulignée */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  color: #ffcc00; /* Change la couleur du texte au survol */
  transform: scale(1.05); /* Agrandit légèrement le lien au survol */
  text-decoration: underline; /* Ajoute une décoration soulignée */
}


@media screen and (max-width: 1030px) {
/* Conteneur du logo */
.logoContainer {
  flex: 0 0 auto; /* Empêche le logo de s'étirer */
  margin-right: 10%; /* Espace entre le logo et les colonnes */
}

.logo {
  height: 100px; /* Ajuste la taille du logo selon vos besoins */
  border-radius: 50%;
  margin-left: 220px;
}
}

@media screen and (max-width: 900px) {
  /* Conteneur du logo */
  .logoContainer {
    flex: 0 0 auto; /* Empêche le logo de s'étirer */
    margin-right: 10%; /* Espace entre le logo et les colonnes */
  }
  
  .logo {
    height: 80px; /* Ajuste la taille du logo selon vos besoins */
    border-radius: 50%;
    margin-left: 200px;
  }

  .livre {
    max-width: 140px;
  }

  .column2, .column1 {
    margin: 30px 80px 90px 0;
  }

  .column1 ul, .column2 ul {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
  }


  .legalMentions {
    text-align: center;
    font-size: 13px;
    margin: 60px 0 0px 30%;
  }

  }

  @media screen and (max-width: 840px) {
    /* Conteneur du logo */
    .logoContainer {
      flex: 0 0 auto; /* Empêche le logo de s'étirer */
      margin-right: 10%; /* Espace entre le logo et les colonnes */
    }
    
    .logo {
      height: 80px; /* Ajuste la taille du logo selon vos besoins */
      border-radius: 50%;
      margin-left: 150px;
    }
  
    .livre {
      max-width: 130px;
    }
  
    .column1 ul, .column2 ul {
      list-style-type: none;
      padding: 0;
      font-size: 14px;
    }
  
    .horizontalLine {
      width: 50%; /* Ajuste la largeur pour qu'elle s'adapte au contenu */
    }

    .legalMentions {
      text-align: center;
      font-size: 12px;
      margin: 60px 0 0px 30%;
    }
  
    }

    @media screen and (max-width: 840px) {
      /* Conteneur du logo */
      .logoContainer {
        flex: 0 0 auto; /* Empêche le logo de s'étirer */
        margin-right: 10%; /* Espace entre le logo et les colonnes */
      }
      
      .logo {
        height: 80px; /* Ajuste la taille du logo selon vos besoins */
        border-radius: 50%;
        margin-left: 150px;
      }
    
      .livre {
        max-width: 130px;
      }
    
      .column1 ul, .column2 ul {
        list-style-type: none;
        padding: 0;
        font-size: 14px;
      }
    
      .horizontalLine {
        width: 50%; /* Ajuste la largeur pour qu'elle s'adapte au contenu */
      }
  
      .legalMentions {
        text-align: center;
        font-size: 12px;
        margin: 60px 0 0px 30%;
      }
    
      }@media screen and (max-width: 740px) {
        /* Conteneur du logo */
        .logoContainer {
          flex: 0 0 auto; /* Empêche le logo de s'étirer */
          margin-right: 8%; /* Espace entre le logo et les colonnes */
        }
        
        .logo {
          height: 70px; /* Ajuste la taille du logo selon vos besoins */
          border-radius: 50%;
          margin-left: 120px;
        }
      
        .livre {
          max-width: 100px;
        }
      
        .column1 ul, .column2 ul {
          list-style-type: none;
          padding: 0;
          font-size: 14px;
        }
      
        .horizontalLine {
          width: 50%; /* Ajuste la largeur pour qu'elle s'adapte au contenu */
        }
    
        .legalMentions {
          text-align: center;
          font-size: 12px;
          margin: 60px 0 0px 30%;
        }
      
        }

      @media screen and (max-width: 370px) {
    /* Conteneur du logo */
    .logoContainer {
      flex: 0 0 auto; /* Empêche le logo de s'étirer */
      margin-right: 10%; /* Espace entre le logo et les colonnes */
    }
    
    .logo {
      height: 80px; /* Ajuste la taille du logo selon vos besoins */
      border-radius: 50%;
      margin-left: 150px;
    }
  
    .livre {
      display: none;
    }
  
    .column1 ul, .column2 ul {
      list-style-type: none;
      padding: 0;
      font-size: 14px;
    }
  
    .horizontalLine {
      width: 50%; /* Ajuste la largeur pour qu'elle s'adapte au contenu */
    }

    .legalMentions {
      text-align: center;
      font-size: 12px;
      margin: 40px 0 0px 23%;
    }

    .column1 {
      margin: 20px 10px 60px 30px;
    }
  
    .column2 {
      margin: 20px 10px 60px 90px;
    }

    }