
.wrapper {
  width: 100%;
  height: auto;
  max-width: 1200px; /* Largeur maximale du carousel */
  position: relative;
  display: flex;
  align-items: center; /* Centre verticalement le contenu */
  margin: 0 auto 80px auto;
}


.carousel {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center; /* Centre verticalement le contenu */
  overflow: hidden; /* Masque tout ce qui dépasse pour n'afficher que 4 cartes */
  padding: 0 0px; /* Ajoute de l'espace à gauche et à droite pour le survol */
  scroll-behavior: smooth; /* Ajoute un défilement fluide */
}

.carousel::-webkit-scrollbar {
  display: none; /* Cache la scrollbar pour WebKit */
}

.prev,
.next {
  background-color: aliceblue;
  border-radius: 2px;
  font-size: 30px;
  cursor: pointer;
  padding: 5px 10px;
  position: absolute; /* Positionne les flèches de manière absolue */
  top: 50%; /* Centre verticalement les flèches */
  transform: translateY(-50%); /* Centre les flèches verticalement */
  z-index: 2; /* Assure que les flèches sont au-dessus du carousel */
}

.prev {
  left: -60px; /* Positionne la flèche à l'extérieur du carousel à gauche */
}

.next {
  right: -60px; /* Positionne la flèche à l'extérieur du carousel à droite */
}

.content {
  width: 100%;
  display: flex;
  gap: 40px; /* Espace entre les cartes */
  transition: transform 0.3s ease; /* Pour animer le déplacement des cartes */
  padding: 20px 20px; /* Ajoute un padding pour éviter que les cartes agrandies touchent les bords */
  overflow: visible; /* Permet aux cartes agrandies de ne pas être coupées */
}

.card {
  background-color: #a9c1d0;
  border: solid 1px;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  flex: 0 0 19%; /* Chaque carte prend 25% de la largeur du conteneur pour afficher exactement 4 cartes */
  height: 250px; /* Hauteur fixe pour toutes les cartes */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, z-index 0.3s ease; /* Ajoute une transition sur z-index pour éviter des sauts */
  z-index: 1; /* Niveau de base pour toutes les cartes */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Met en avant la carte survolée */
}

.image {
  width: 50%;
  height: auto;
}

.title {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.playButton {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 15px; /* Augmente le padding pour rendre le bouton plus grand */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease; /* Ajoute une transition pour le changement de couleur et le survol */
}

.playButton:hover {
  background-color: #ccc;
  transform: scale(1.05); /* Agrandit légèrement le bouton au survol */
}