@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.wrapper {
  width: 100%;
  height: auto;
  max-width: 1180px; /* Largeur maximale du carousel */
  position: relative;
  display: flex;
  align-items: center; /* Centre verticalement le contenu */
  margin: 0 auto 80px auto;
}


.carousel {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center; /* Centre verticalement le contenu */
  overflow: hidden; /* Masque tout ce qui dépasse pour n'afficher que 4 cartes */
  padding: 0 0px; /* Ajoute de l'espace à gauche et à droite pour le survol */
  scroll-behavior: smooth; /* Ajoute un défilement fluide */
}

.carousel::-webkit-scrollbar {
  display: none; /* Cache la scrollbar pour WebKit */
}

.prev,
.next {
  background-color: #fdf5e6;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  top: 50%; /* Centre verticalement les flèches */
  transform: translateY(-50%); /* Centre les flèches verticalement */
  z-index: 2; /* Assure que les flèches sont au-dessus du carousel */
}

.content {
  width: 91%;
  display: flex;
  gap: 40px; /* Espace entre les cartes */
  transition: transform 0.3s ease; /* Pour animer le déplacement des cartes */
  padding: 20px 20px; /* Ajoute un padding pour éviter que les cartes agrandies touchent les bords */
  overflow: visible; /* Permet aux cartes agrandies de ne pas être coupées */
}

.card {
  background-color: #a9c1d0;
  border: solid 1px;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  flex: 0 0 19%; /* Chaque carte prend 25% de la largeur du conteneur pour afficher exactement 4 cartes */
  height: 250px; /* Hauteur fixe pour toutes les cartes */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, z-index 0.3s ease; /* Ajoute une transition sur z-index pour éviter des sauts */
  z-index: 1; /* Niveau de base pour toutes les cartes */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Met en avant la carte survolée */
}

.image {
  width: 50%;
  height: auto;
}

.title {
  font-family: 'JetBrains Mono', monospace;
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.playButton {
  font-family: 'JetBrains Mono', monospace;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 15px; /* Augmente le padding pour rendre le bouton plus grand */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease; /* Ajoute une transition pour le changement de couleur et le survol */
}

.playButton:hover {
  background-color: #ccc;
  transform: scale(1.05); /* Agrandit légèrement le bouton au survol */
}


/* Media query pour les écrans inférieurs à 1040px */
@media screen and (max-width: 1085px) {
  .card {
    flex: 0 0 calc(20.33% - 20px); /* Chaque carte prend 33.33% de la largeur du conteneur moins la taille du gap */
  }

  .prev,
  .next {
    font-size: 25px; /* Réduire la taille des flèches */
    padding: 4px 8px; /* Réduire le padding des flèches */
  }
}

/* Media query pour les écrans inférieurs à 890px */
@media screen and (max-width: 940px) {
  .card {
    flex: 0 0 calc(29% - 20px); /* Chaque carte prend 50% de la largeur du conteneur moins la taille du gap */
  }

  .prev,
  .next {
    font-size: 20px; /* Réduire encore la taille des flèches */
    padding: 3px 6px; /* Réduire le padding des flèches */
  }
}

/* Media query pour les écrans inférieurs à 600px */
@media screen and (max-width: 785px) {
  .card {
    flex: 0 0 calc(28% - 20px); /* Chaque carte prend toute la largeur du conteneur */
  }

  .content {
    gap: 30px; /* Réduire l'espacement entre les cartes */
  }

}


/* Media query pour les écrans inférieurs à 600px */
@media screen and (max-width: 665px) {
  .card {
    flex: 0 0 calc(25% - 20px); /* Chaque carte prend toute la largeur du conteneur */
  }

  .content {
    gap: 25px; /* Réduire l'espacement entre les cartes */
  }
}

/* Media query pour les écrans inférieurs à 600px */
@media screen and (max-width: 410px) {
  .card {
    flex: 0 0 calc(10% - 10px); /* Chaque carte prend toute la largeur du conteneur */
  }

  .content {
    gap: 10px; /* Réduire l'espacement entre les cartes */
  }
}