.header {
  height: 70px;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0px;
  background-color: #50708A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between; /* Espacer les éléments */
  position: relative; /* Permet de jouer avec le z-index */
  z-index: 1000; /* Assurez-vous que le header est au-dessus des autres éléments */
}

.logo {
  height: 60px; /* Hauteur initiale du logo */
  margin-top: 3px;
  margin-left: 15px;
  border-radius: 50%;
  transition: transform 0.1s ease-in-out; /* Ajoute une transition fluide pour l'agrandissement */
}

.logo:hover {
  transform: scale(1.2); /* Agrandit le logo de 20% lors du hover */
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 40px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.nav a:hover {
  background-color: #FBD7D5;
  color: #333;
  border-radius: 2px;
  text-decoration: none;
}

.boutonLogImage {
  width: 50px;
}

/* Media Query pour écrans de moins de 900px de large */
@media (max-width: 900px) {
  .header {
    height: 60px;
  }

  .nav a {
    font-size: 15px;
    padding: 0px 30px;
  }

  .logo {
    height: 50px;
  }
}

@media (max-width: 730px) {
  .header {
    height: 50px;
  }

  .nav a {
    font-size: 12px;
    padding: 0px 20px;
  }

  .logo {
    height: 40px;
  }
}

@media (max-width: 590px) {
  .header {
    height: 40px;
  }

  .nav a {
    font-size: 10px;
    padding: 0px 15px;
  }

  .logo {
    height: 30px;
  }
}


@media (max-width: 460px) {
  .header {
    height: 30px;
  }

  .nav a {
    font-size: 0px;
    padding: 0px;
  }

}