.quizMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligne les éléments à gauche */
  background-color: #fdf5e6;
  padding: 20px;
  font-family: 'JetBrains Mono', monospace;
}

.themeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligne les éléments à gauche */
  margin-bottom: 20px;
  z-index: 2;
}

.themeTitle {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: left; /* Aligne le texte à gauche */
}

.themeSelector {
  display: flex;
  flex-wrap: wrap; /* Permet aux blocs de passer à la ligne suivante si l'espace est insuffisant */
  gap: 20px; /* Espace entre les blocs */
  justify-content: flex-start; /* Aligne les blocs à gauche */
  max-width: 860px; /* Limite la largeur totale à 4 blocs de 200px plus les gaps */
  margin-bottom: 80px;
  margin-left: 30px;
}

.themeBlock {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 200px; /* Définit une largeur fixe pour les blocs */
  text-align: center; /* Centre le texte dans chaque bloc */
  flex: 0 0 calc(25% - 20px); /* Assure que chaque bloc prend 25% de la largeur moins le gap */
}

.themeBlock.selected {
  border-color: #50708A;
  background-color: #E0F7FA;
}

.scrollToTopButton {
  position: fixed;
  bottom: 80px;
  right: 20px;
  cursor: pointer;
  z-index: 1000; /* Assurez-vous que le bouton est au-dessus des autres éléments */
}

.scrollToTopButton img {
  width: 40px; /* Ajustez la taille selon vos besoins */
  height: 40px;
  transition: transform 0.3s;
}

.scrollToTopButton img:hover {
  transform: scale(1.1); /* Agrandir légèrement l'image au survol */
}

@media screen and (max-width: 890px) {
  .quizMenu {
    padding: 10px; /* Réduit le padding global pour les petits écrans */
  }

  .themeTitle {
    font-size: 1.5rem; /* Réduit la taille de police */
    margin-bottom: 20px; /* Réduit la marge inférieure */
  }

  .themeSelector {
    max-width: 100%; /* Utilise toute la largeur disponible */
    margin-left: 0; /* Supprime la marge à gauche pour utiliser tout l'espace */
    justify-content: flex-start; /* Garde les blocs alignés à gauche */
    gap: 10px; /* Réduit l'espace entre les blocs pour les petits écrans */
  }

  .themeBlock {
    width: calc(33.33% - 10px); /* Ajuste la largeur des blocs pour permettre 3 par ligne */
    flex: 0 0 calc(33.33% - 10px); /* Assure que chaque bloc prend un tiers de la ligne moins l'espace */
    margin-top:  10px; /* Ajoute une marge supérieure pour les petits écrans */
    margin-bottom: 15px; /* Ajoute un espace entre les lignes de blocs */
    margin-left: 30px;
  }

  .scrollToTopButton {
    bottom: 20px; /* Ajuste la position du bouton de défilement vers le haut pour les petits écrans */
    right: 10px; /* Ajuste la position du bouton pour qu'il soit plus proche du bord droit */
  }

  .scrollToTopButton img {
    width: 30px; /* Réduit la taille de l'image du bouton pour les petits écrans */
    height: 30px; /* Réduit la hauteur de l'image du bouton pour les petits écrans */
  }
}
