body {
  background-color: #fdf5e6;
}

.quiz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px; 
  padding: 0 5px; 
}

.progress {
  display: flex;
  align-items: center;
}

.current, .scoreValue {
  font-size: 1rem; 
  background-color: #FBD7D5;
  color: rgb(0, 0, 0);
  border-radius: 5%;
  padding: 8px; 
  margin-right: 8px; 
}

.total, .totalValue {
  font-size: 1rem; 
  color: #333;
}

.title {
  font-size: 1.5rem; 
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px; 
}

.questionBox {
  background-color: white;
  padding: 20px; 
  margin-left: 50%; /* Centre la box horizontalement */
  margin-bottom: 15px;
  border-radius: 15px; 
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); 
  width: 100%; 
  max-width: 550px; /* Taille uniforme pour la box */
  z-index: 2;
  position: relative;
}

.questionBox .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionTitle {
  text-align: center;
  font-size: 1.2rem; 
  margin-bottom: 8px; 
}

.questionText {
  text-align: center;
  font-size: 1.2rem; 
  margin-bottom: 16px; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.answer {
  display: flex;
  align-items: center;
  padding: 8px; 
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer:hover {
  background-color: #f3f4f6;
}

.answer.selected {
  background-color: #FBD7D5;
}

.answerLetter {
  font-size: 1rem; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #FBD7D5;
  color: #333;
  border-radius: 50%;
  padding: 4px 8px; 
  margin-right: 10px; 
}

.answerText {
  font-size: 1rem; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px; 
  width: 100%;
}

.backButton, .submitButton {
  width: 100px; 
  padding: 8px; 
  background-color: #C7DEF0;
  color: #3E4C59;
  border: solid 1px #3E4C59;
  border-radius: 15px; 
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: 'JetBrains Mono', monospace;
  transition: background-color 0.3s, color 0.3s; 
  margin: 0;
}

.backButton:hover {
  background-color: #90ADBF;
  color: white;
  border-color: #3E4C59;
}

.submitButton {
  background-color: #FFC1C3;
  color: #3E4C59;
  border: solid 1px #3E4C59;
}

.submitButton:hover {
  background-color: #da84a4;
  color: #fff;
}

.score {
  display: flex;
  align-items: center;
  font-size: 1rem; 
  margin-bottom: 8px; 
}

.scoreValue {
  font-size: 1rem; 
  background-color: #f87171;
  color: white;
  border-radius: 3px;
  padding: 8px; 
  margin: 0 8px; 
}

.totalValue {
  font-size: 1rem; 
  color: #333;
}

/* Media Query pour maintenir la taille uniforme sur différents écrans */
@media screen and (max-width: 890px) {
  .questionBox {
    max-width: 480px; /* Ajuste la largeur maximale pour les écrans plus petits */
  }
  .title, .questionTitle, .questionText {
    font-size: 1.1rem; /* Ajuste la taille de police pour les petits écrans */
  }
  .answerLetter, .answerText {
    font-size: 0.9rem; /* Réduit la taille de police pour les réponses */
  }
  .backButton, .submitButton {
    width: 90px; /* Réduit la largeur des boutons sur les petits écrans */
  }
}
